<div class="container">
<h1 class="text-center">Grill Master</h1>
<br>
<br>
<div class="row">
<div class="col-6">

{{{ grill }}}

</div>
<div class="col-3">
    <table class="table">
  <thead>
    <tr>
      <th colspan="2">Items out of grill</th>
     </tr>
  </thead>
 
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
   {{{ outofgrill }}}
  </tbody>
</table>
</div>
 </div>
 <br>
 <a href="/"><button class="btn btn-primary">Back</button></a>
</div>